<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springbootdemo.scheduled.dao.DiscountProductMapper" >


    <update id="batchUpdateDiscountProductLimitId" parameterType="java.util.List" >

        update discount_product
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="jp_limit_id =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.jpLimitId,jdbcType=BIGINT}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item.id,jdbcType=BIGINT}
        </foreach>


    </update>



</mapper>